In [ ]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
from scipy import stats
from sklearn import preprocessing
from random import sample
import matplotlib.colors as pltc
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
%matplotlib inline
plt.rcParams['figure.figsize']=(15,8)
from sklearn import tree #導入決策樹模組

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn import metrics
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import pandas as pd
data=pd.read_excel('boston_house(type).xlsx')

In [ ]:
data.head()

   Unnamed: 0     CRIM    ZN  INDUS  ...       B  LSTAT  PRICE  PRICE TYPE
0           0  0.00632  18.0   2.31  ...  396.90   4.98   24.0           2
1           1  0.02731   0.0   7.07  ...  396.90   9.14   21.6           2
2           2  0.02729   0.0   7.07  ...  392.83   4.03   34.7           2
3           3  0.03237   0.0   2.18  ...  394.63   2.94   33.4           2
4           4  0.06905   0.0   2.18  ...  396.90   5.33   36.2           2

[5 rows x 16 columns]

In [ ]:
data['PRICE TYPE'] = data['PRICE TYPE'].apply(lambda x:0 if x == 1 else 1)

In [ ]:
y = data["PRICE TYPE"]
X = data.drop(["Unnamed: 0","PRICE TYPE","PRICE"],axis = 1)

In [ ]:
from sklearn import tree
DT = tree.DecisionTreeClassifier(max_depth=5)
DT= DT.fit(X, y)

In [ ]:
print(f'特徵重要程度: {DT.feature_importances_}')

特徵重要程度: [0.         0.         0.01838501 0.00677402 0.02560611 0.12911214
 0.08782888 0.02658057 0.         0.07758533 0.         0.00913233
 0.61899561]

In [ ]:
import graphviz 
dot_data = tree.export_graphviz(DT,feature_names=data.drop(["Unnamed: 0","PRICE TYPE","PRICE"],axis = 1).columns,    
                      filled=True, rounded=True,class_names=['low','high'])  
graph = graphviz.Source(dot_data)  
graph 
graph.render("loan2")

'loan2.pdf'

#第二題

In [ ]:
df=pd.read_excel('boston_house(type).xlsx')
y = df["PRICE"]
X = df.drop(["Unnamed: 0","PRICE","PRICE TYPE"],axis = 1)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0,max_depth=5)
regressor.fit(X, y)

DecisionTreeRegressor(max_depth=5, random_state=0)

In [ ]:
dot_data = tree.export_graphviz(regressor,feature_names=df.drop(["Unnamed: 0",'PRICE',"PRICE TYPE"],axis = 1).columns,    
                      filled=True, rounded=True)  
graph = graphviz.Source(dot_data) 
graph.render("12314")

'12314.pdf'

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
# 使用X_test預測y，得到y_pred1 
y_pred1 = regressor.predict(X)
rmse = sqrt(mean_squared_error(y, y_pred1)) 
print("rmse: %.3f" % rmse)

rmse: 2.558