In [ ]:
import pandas as pd
df=pd.read_excel('boston_house(type).xlsx')

In [ ]:
df.head(5)

   Unnamed: 0     CRIM    ZN  INDUS  ...       B  LSTAT  PRICE  PRICE TYPE
0           0  0.00632  18.0   2.31  ...  396.90   4.98   24.0           2
1           1  0.02731   0.0   7.07  ...  396.90   9.14   21.6           2
2           2  0.02729   0.0   7.07  ...  392.83   4.03   34.7           2
3           3  0.03237   0.0   2.18  ...  394.63   2.94   33.4           2
4           4  0.06905   0.0   2.18  ...  396.90   5.33   36.2           2

[5 rows x 16 columns]

In [ ]:
df.isnull().any() #尋找空值變數

Unnamed: 0    False
CRIM          False
ZN            False
INDUS         False
CHAS          False
NOX           False
RM            False
AGE           False
DIS           False
RAD           False
TAX           False
PTRATIO       False
B             False
LSTAT         False
PRICE         False
PRICE TYPE    False
dtype: bool

In [ ]:
y = df['PRICE TYPE']
X = df.drop(['Unnamed: 0','PRICE TYPE'],axis = 1)
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=5)

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
LDA = LinearDiscriminantAnalysis()
LDA.fit(X_train,y_train)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
LDA_tpred= LDA.predict(X_train)
print(confusion_matrix(y_train,LDA_tpred))
print("======================================================\n")
print(classification_report(y_train,LDA_tpred))

[[135  23]
 [ 16 205]]
======================================================

              precision    recall  f1-score   support

           1       0.89      0.85      0.87       158
           2       0.90      0.93      0.91       221

    accuracy                           0.90       379
   macro avg       0.90      0.89      0.89       379
weighted avg       0.90      0.90      0.90       379

In [ ]:
#列印測試資料的混淆矩陣(confusion matrix)以及模式衡量指標
LDA_pred= LDA.predict(X_test)
print(confusion_matrix(y_test,LDA_pred))
print("======================================================\n")
print(classification_report(y_test,LDA_pred))

[[48  9]
 [ 6 64]]
======================================================

              precision    recall  f1-score   support

           1       0.89      0.84      0.86        57
           2       0.88      0.91      0.90        70

    accuracy                           0.88       127
   macro avg       0.88      0.88      0.88       127
weighted avg       0.88      0.88      0.88       127