#作業

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_excel('boston_house(type).xlsx')

In [ ]:
df.head()

   Unnamed: 0     CRIM    ZN  INDUS  ...       B  LSTAT  PRICE  PRICE TYPE
0           0  0.00632  18.0   2.31  ...  396.90   4.98   24.0           2
1           1  0.02731   0.0   7.07  ...  396.90   9.14   21.6           2
2           2  0.02729   0.0   7.07  ...  392.83   4.03   34.7           2
3           3  0.03237   0.0   2.18  ...  394.63   2.94   33.4           2
4           4  0.06905   0.0   2.18  ...  396.90   5.33   36.2           2

[5 rows x 16 columns]

In [ ]:
y = df['PRICE']
X = df.drop(['Unnamed: 0', 'PRICE','PRICE TYPE','RAD'] , axis=1)       #education_years, working_years為自變數,可自行調整

In [ ]:
import statsmodels.api as smf
RA = smf.OLS(y,X).fit()
print(RA.summary())

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  PRICE   R-squared (uncentered):                   0.959
Model:                            OLS   Adj. R-squared (uncentered):              0.958
Method:                 Least Squares   F-statistic:                              954.1
Date:                Wed, 06 Oct 2021   Prob (F-statistic):                        0.00
Time:                        13:24:26   Log-Likelihood:                         -1527.2
No. Observations:                 506   AIC:                                      3078.
Df Residuals:                     494   BIC:                                      3129.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
CRIM          -0.0690      0.033     -2.074      0.039      -0.134      -0.004
ZN             0.0444      0.014      3.084      0.002       0.016       0.073
INDUS         -0.0490      0.062     -0.786      0.432      -0.171       0.073
CHAS           3.0966      0.904      3.425      0.001       1.320       4.873
NOX           -3.0189      3.378     -0.894      0.372      -9.655       3.617
RM             5.8747      0.310     18.938      0.000       5.265       6.484
AGE           -0.0091      0.014     -0.660      0.510      -0.036       0.018
DIS           -1.0335      0.195     -5.298      0.000      -1.417      -0.650
TAX           -0.0014      0.002     -0.596      0.551      -0.006       0.003
PTRATIO       -0.3857      0.110     -3.492      0.001      -0.603      -0.169
B              0.0138      0.003      5.170      0.000       0.009       0.019
LSTAT         -0.4239      0.051     -8.315      0.000      -0.524      -0.324
==============================================================================
Omnibus:                      209.954   Durbin-Watson:                   0.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1407.013
Skew:                           1.668   Prob(JB):                    2.96e-306
Kurtosis:                      10.457   Cond. No.                     8.50e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.5e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#2.用線性回歸做訓練線性模型:
#import基本函式庫
import pandas as pd
import numpy as np

#將資料分成訓練組及測試組
from sklearn.model_selection import train_test_split

#test_size代表測試組比例。random_state代表設定隨機種子，讓測試結果可被重複
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=333)
#載入線性迴歸，並訓練模型
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

#取得截距。如果公式是y=a+bx，a即是截距
print(lm.intercept_)
print(lm.coef_)

33.792411582209986
[-8.49452776e-02  4.58434094e-02 -4.80541867e-02  4.99341052e+00
 -1.48320522e+01  3.54810159e+00 -1.18032886e-02 -1.61368465e+00
  4.08639695e-03 -8.34141990e-01  8.17558831e-03 -5.95212892e-01]

In [ ]:
#取得迴歸係數，並用Data Frame顯示:pd.DataFrame(資料,列的名稱,行的名稱)
#lm.coef_
#X_train.columns
cdf = pd.DataFrame(lm.coef_,X_train.columns,columns=['Coef'])
cdf

              Coef
CRIM     -0.084945
ZN        0.045843
INDUS    -0.048054
CHAS      4.993411
NOX     -14.832052
RM        3.548102
AGE      -0.011803
DIS      -1.613685
TAX       0.004086
PTRATIO  -0.834142
B         0.008176
LSTAT    -0.595213

In [ ]:
MSE1= np.mean((y_train - lm.predict(X_train) )** 2)
RMSE1=MSE1**0.5
MSE2= np.mean((y_test - lm.predict(X_test) )** 2)
RMSE2=MSE2**0.5
print('train_RMSE=%.3f,test_RMSE=%.3f'%(RMSE1,RMSE2))

train_RMSE=4.844,test_RMSE=4.816

In [ ]:
df["PRICE"].mean()

22.532806324110698

In [ ]:
R2_train = lm.score(X_train,y_train)
R2_test = lm.score(X_test,y_test)

print('train_R2=%.3f, test_R2=%.3f'%(R2_train,R2_test))

train_R2=0.724, test_R2=0.721

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
# 使用X_test預測y，得到y_pred1 
y_pred1 = lm.predict(X_test)
rms = sqrt(mean_squared_error(y_test, y_pred1)) 
print("rms: %.3f" % rms)

rms: 4.816